body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.my-text {
    color: rgb(33, 77, 236);
}

.my-text {
    font-family: cursive;
}

h1 {
    font-family: cursive;
}

.my-text2 {
    font-family: cursive;
}

.my-text3 {
    font-family: cursive;
}

.my-text4 {
    font-family: cursive;
}

.my-text5 {
    font-family: cursive;
}

h1 {
    color: rgb(27, 65, 255);
}

h2 {
   color: rgb(27, 65, 255)
}

img {
    width: 480px;
    height: 300px;
}

.logo {
    height: 60px;
    width: 70px;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 23px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}
